html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: CustomFont;
    src: url('../phenomena/Phenomena-ExtraBold.otf');
}

.brand-logo {
    font-family: 'Abril Fatface', cursive;;
    font-size: 140%;
}

.head {
    font-family: 'Abril Fatface', cursive;
    /* padding-top: 20px; */
    z-index: 9999;
}

.sub-head {
    font-family: 'Roboto', sans-serif;
    /* padding-top: 20px; */
    font-weight: lighter;
    z-index: 9999;
}

.parallax-container {
    height: 100%;
    position: absolute;
  }

.btn {
    cursor: wait;
}

.background {
    /* background-image: url('/assets/images/back5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 auto;
    box-shadow: 0px 2px 3px 1px black; */
    background-color: #FAFAFA;
}

.navbar {
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    justify-items: flex-start;
    /* box-shadow: unset; */
    box-shadow: 0px 0.5px 1px 1px black;
}

.fheight {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #FAFAFA;
}

.card-body {
    padding-top: 0 !important;
    padding-bottom: 0;
}

.fill {
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.card {
    background-color: transparent !important;
    /* box-shadow: unset !important; */
    box-shadow: 1px 1px 3px 3px black;  
}

.input-field label {
    color: #000 !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000  !important;
    box-shadow: 0 1px 0 0 #000  !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #00A4EE  !important;
    box-shadow: 0 1px 0 0 #00A4EE  !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(255, 0, 0) !important;
    box-shadow: 0 1px 0 0 rgb(255, 0, 0) !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000 !important;
  }

.preloader-wrapper.small {
    margin-top: 4px; 
    /* width: 25px !important;
    height: 25px !important; */
}

.footer {
    background-color: #00A4EE !important;
}